    <!-- Modal Adoption -->
    {{#if pet.id }}
    <div class="modal fade" id="adoptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
           <div class="alert alert-success m-4 d-none" role="alert">
              This is a success alert—check it out!
          </div>
          <form id="add-adoption-form" role="form" method="post" action="/adoptions/">
            <div class="modal-header">
              <h5 class="modal-title" id="adoptionModalLabel">Adoption request</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" name="user_id" id="input-user_id" class="form-control" value="{{user.id}}">
                    <input type="hidden" name="pet_id" id="input-pet_id" class="form-control" value="{{pet.id}}">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-name">Name</label>
                        <input readonly type="text" name="name" id="input-name" class="form-control" placeholder="First Name" value="{{user.name}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email</label>
                        <input readonly type="email" name="email" id="input-email" class="form-control" placeholder="Email" value="{{user.email}}"/>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-phone">Phone</label>
                        <input readonly type="phone" name="phone" id="input-phone" class="form-control" placeholder="Email" value="{{user.phone}}"/>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Address</label>
                        <textarea readonly class="form-control" name="address" id="input-address" rows="3">{{user.address}}</textarea>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-message">Message</label>
                        <textarea class="form-control" name="message" id ="input-message" rows="4">I am interested in adopting this lovely pet!</textarea>
                      </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Send adoption request</button>
            </div>
          
          </form>
        </div>
      </div>
    </div>
    {{/if}}
    
    <!-- Page content -->
    <div class="container mt--6">

      <div class="row col-12 mt--250">
          {{!-- <div class="col-12"> --}}
            <div class="pr-4">
              <h1 class="display-2 text-white">{{pet.pet_name}}</h1>           
            </div>
            <div class="py-3">
              <button id="apply-for-adoption" class="btn btn-neutral" data-toggle="modal" data-target="#adoptionModal">Apply for adoption</button>          
            </div>
          {{!-- </div> --}}
      </div>

      <div class="row">
        <div class="col-xl-4 order-xl-2">
          <div class="card card-profile">
            <img src="{{pet.profile_img_url}}" alt="Image placeholder" class="card-img-top">
   
            <div class="card-body pt-0">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center">
                    <div>
                      <p class="heading">{{pet.likes}}</p>
                      <p class="description">Likes</p>
                    </div>
                    <div>
                      <p class="heading">{{pet.applications}}</p>
                      <p class="description">Current applications</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h5 class="h3">
                  {{pet.pet_name}}<span class="font-weight-light">,
                    {{#eq pet.age_years 1 }}{{ pet.age_years }} year {{/eq}}
                    {{#gt pet.age_years 1}}{{ pet.age_years }}  years {{/gt}} 
                    {{#eq pet.age_months 1 }}{{ pet.age_months }} month {{/eq}}
                    {{#gt pet.age_months 1}}{{ pet.age_months }} months {{/gt}}
                </h5>
                <p class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>{{pet.address}}
                </p>
                <p data-userid = "{{pet.owner_id}}" class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>{{pet.owner}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card">
          <div class="tab-content">
            <div id="edit" class="tab-pane tab-example-result fade {{#eq pet.id 0}}active show{{/eq}}" role="tabpanel" aria-labelledby="alerts-component-tab">
              <!-- Alerts -->
              <div class="alert alert-success m-4 d-none" role="alert">
              This is a success alert—check it out!
              </div>
              <form id="{{#if pet.id }}edit{{else}}add{{/if}}-pet-form" role="form" method="{{#if pet.id }}put{{else}}post{{/if}}" action="/pets/{{#if pet.id }}{{pet.id}}{{/if}}">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">{{#eq pet.id 0}}Fill profile info{{/eq}}{{#gt pet.id 0}}Edit profile{{/gt}} </h3>
                    </div>
                    <div class="col-4 text-right">
                      {{#if pet.pet_name}}<input id="pet-id" name="id" type="hidden" value="{{pet.id}}">{{/if}}
                      <input type="checkbox" class="form-control-input" id="input-publish"/>
                      <label class="form-control-label" for="input-publish">Publish</label>
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <h6 class="heading-small text-muted mb-4">Pet information</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-name">Name</label>
                            <input type="text" id="input-name" class="form-control" placeholder="Name" value="{{pet.pet_name}}">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label">Profile picture</label>
                            <input type="file" name="profile_img_url" rows="4" class="form-control" placeholder="Profile picture" value="{{pet.profile_img_url}}"/>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-category">Category</label>
                            <select name="category" type="text" id="input-category" class="form-control">
                              <option>Select category</option>
                              <option value="1">Dog</option>
                              <option selected value="2">Cat</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-neutered">Neutered</label>
                            <select name="neutered" type="text" id="input-neutered" class="form-control">
                              <option>Select category</option>
                              <option selected value="1">Yes</option>
                              <option value="2">No</option>
                              <option value="3">Unknown</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-age_years">Age years</label>
                            <input type="number" id="input-age_years" class="form-control" placeholder="Years" value="{{pet.age_years}}">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-age_months">Age months</label>
                            <input type="number" id="input-age_months" class="form-control" placeholder="Months" value="{{pet.age_months}}">
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="my-4" />
                    <!-- Address -->
                    <h6 class="heading-small text-muted mb-4">Contact information</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="form-control-label" for="input-address">Address</label>
                            <input id="input-address" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input-city">City</label>
                            <input type="text" id="input-city" class="form-control" placeholder="City" value="New York">
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input-country">Country</label>
                            <input type="text" id="input-country" class="form-control" placeholder="Country" value="United States">
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input-country">Postal code</label>
                            <input type="number" id="input-postal-code" class="form-control" placeholder="Postal code">
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="my-4" />
                    <!-- Description -->
                    <h6 class="heading-small text-muted mb-4">Summary</h6>
                    <div class="pl-lg-4">
                      <div class="form-group">
                        <label class="form-control-label">Summary</label>
                        <textarea name="short-content" rows="4" class="form-control" placeholder="Short summary">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                      </div>
                    </div>
                    <div class="pl-lg-4">
                      <div class="form-group">
                        <label class="form-control-label">Description</label>
                        <textarea name="content" rows="4" class="form-control" placeholder="A few words about the pet ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                      </div>
                    </div>
                </div>
              </form>
            </div>
            <div id="view" class="tab-pane fade {{#gt pet.id 0}}active show{{/gt}}" role="tabpanel" aria-labelledby="alerts-html-tab">
              <div class="card-header">
                <div class="row align-items-center">
                  {{pet.short_content}}
                </div>
              </div>
              <div class="card-body">
                <div class="row align-items-center">
                  {{pet.content}}
                </div>
              </div>
            </div>
          </div>
          {{#if pet.id}}
          <ul class="nav nav-tabs-code py-3" id="alerts-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" id="alerts-component-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="alerts-component" aria-selected="false">Edit</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link active" id="alerts-html-tab" data-toggle="tab" href="#view" role="tab" aria-controls="alerts-html" aria-selected="true">View</a>
            </li>
          </ul>
          {{/if}}
          </div>
        </div>
      </div>
   </div>