

    <!-- Page content -->
    <div class="container mt--12">

      <div class="row align-items-center py-4 mt--250">
        <div class="col-lg-6 col-5">
            <h1 class="font-weight-bold text-white">{{title}}</h1>
          <p class="text-white"> Find one you like, and you'll find a great friend.</p>
          <a href="/articles/new" class="btn btn-sm btn-neutral">Post new pet</a>
        </div>
      </div>

      <div class="row py-6 py-lg-6 pt-lg-6">
        {{#each pets}}
            <div class="col-xl-4 col-md-6">
              <div class="card">
                <!-- Card body -->
                <div class="card-img-250" style="background-image:url('{{this.profile_img_url}}')">
                  {{!-- <img class="card-img-top" src="{{this.profile_img_url}}" alt="{{this.pet_name}}"> --}}
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{this.pet_name}}</h5>
                  <p class="card-text">{{this.content}}</p>
                  <a href="pets/{{this.id}}" class="btn btn-primary">Read more</a>
                </div>
              </div>
            </div>
        {{/each}}
      </div>
    </div>
